<template>
  <v-item-group mandatory class="mt-n1">
    <v-container>
      <v-row justify="center" class="space">
        <v-col
          cols="12"
          xs="12"
          sm="4"
          md="2"
          v-for="(category, i) in categories"
          :key="i"
        >
          <v-item v-slot="{ active, toggle }">
            <v-card
              :color="active ? '#D5F0DB' : 'white'"
              :class="active ? 'borderme' : 'borderout'"
              class="d-flex align-center rounded-lg mx-2"
              dark
              height="180"
              @click="toggle"
              flat
            >
              <v-row>
                <v-col cols="12" sm="12">
                  <v-list-item three-line class="text-center">
                    <v-list-item-content>
                      <div align="center" justify="center">
                        <v-img
                          max-height="80"
                          max-width="80"
                          contain
                          :src="category.icon"

                        ></v-img>
                      </div>
                      <v-list-item-subtitle
                        :class="active ? 'green--text' : 'black--text'"
                        class="caption mt-4"
                        >{{ category.name }}</v-list-item-subtitle
                      >
                    </v-list-item-content>
                  </v-list-item>
                </v-col>
              </v-row>
            </v-card>
          </v-item>
        </v-col>
      </v-row>
    </v-container>
  </v-item-group>
</template>

<script>
    var axios =  require('axios');
    export default {
        name: 'Category',
        data() {
            return {
                baseURL : "http://localhost:8081/category/list",
                categories : null,
            }
        },
        methods: {
            async getCategories() {
              console.log("asda")
                //fetch categories
                const data = await axios.get(this.baseURL)
                this.categories = data.data
                    
            }
        },
        async mounted(){
          await this.getCategories();
        }
    }
  
</script>

<style>
</style>