<template>
  <v-row justify="center" class="space px-16">
    <v-col  cols="12"  xs="12"   sm="6"    md="4"
      v-for="(product, i) in products"  :key="i">
      <v-card class="mx-auto rounded-xl" max-width="300" color="" flat outlined>
        <div align="center" justify="center">
          <v-img
            max-height="300"
            max-width="300"
            contain
            :src="product.image"
          ></v-img>
        <v-card-title class="mt-n4">{{ product.time }}</v-card-title>
        </div>
        <v-card-title>{{ product.name }} </v-card-title>
        <v-card-title class="black--text text-grey-darken-1 caption mt-n6">{{product.qualification}}   </v-card-title>
        <v-card-actions>
          <button     @click="updateCart(product, 'subtract')"
            >
                Add
            </button>
            
            <span class="quantity">{{ product.quantity }}</span>
            <button class="add-tocart" @click="updateCart(product, 'add')">
              Remove
            </button>

        </v-card-actions>
        


      </v-card>
    </v-col>
  </v-row>
</template>

<script>
    import { mapActions } from "vuex";
    var axios =  require('axios');
    export default {
        name: 'Products',
        data() {
            return {
                baseURL : "http://localhost:8081/product/list",
                products : null,
            }
        },
        methods: {
            async getProducts() {
                const data = await axios.get(this.baseURL)
                this.products = data.data
                    
            },
            ...mapActions(["addItem"]),
            updateCart(product, updateType) {
              for (let i = 0; i < this.products.length; i++) {
                if (this.products[i].id === product.id) {
                  if (updateType === "subtract") {
                    if (this.products[i].quantity !== 0) {
                      this.products[i].quantity--;
                    }
                  } else {
                    this.products[i].quantity++;
                  }
                  break;
                }
              }
              this.addItem(product);
            },
        },
        async mounted(){
          await this.getProducts();
        }
    }


</script>

<style>
</style>